
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.horizontal-scroll-container.animate {
    animation: scroll 60s linear infinite;
}

.horizontal-scroll-container:hover {
    animation-play-state: paused;
}

body {
     padding-bottom: 20px; 
}